body{
    background: rgb(235, 231, 231);
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}
.photo{
    border: 5px dotted black;
    border-radius: 50%;
}
#title, .subtitle, .post_title{
    color: rgb(66, 66, 70);
}

#title{
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: line-through;
    color: gray;
}
.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}
.post{
    background: white;
    padding: 15px;
    border: 3px solid rgb(206, 67, 67);
    margin-bottom: 15px;
    border-radius: 10px;
}
/*para tipos de borna temos 
border: solid   para uma porda solida
border: dotted   borda de pontinho
border: dashed    borda tracinho


*/
.post_content{
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: center;
}
.post_image{
    margin-bottom: 15px;
    width: 100%;
}

.contact_list {
    list-style-type: square;
    padding-left: 15px;
}

.contact_list li a{
    color: blue;
    text-decoration: none;
}